/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_FASTQ' {
        ext.args = '-T MM,ML,mv --threads 4'
        cpus = 4  // Keep this for resource allocation
        publishDir = [ 
            pattern: '*_other.fastq.gz',
            mode: 'copy',
            path: { "${params.outdir}/fastq" }
        ]
    }

    withName: MOSDEPTH {
        ext.args = '--fast-mode --by 1000'
        publishDir = [
            path: { "${params.outdir}/mosdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SPECTRE' {
        ext.args =  '--bin-size 1000'
        ext.prefix = { "${meta.id}_spectre" }
        publishDir = [
            path: { "${params.outdir}/spectre" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        container = 'community.wave.seqera.io/library/pip_ont-spectre:b4773971f0688241'
    }



    // withName: 'SAMTOOLS_MERGE' {
    //     ext.args = [
    //         '--threads 4',
    //         '--write-index',     // Create index for output
    //         '--level 6'          // Compression level
    //     ].join(' ')
        
    //     publishDir = [
    //         path: { "${params.outdir}/merged_bams" },
    //         mode: 'copy'
    //     ]
    // }

    withName: 'SAMTOOLS_MERGE' {
        ext.args = '--threads 4'
        cpus = 4  // Keep this for resource allocation
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.args = '--threads 4'
        cpus = 4  // Keep this for resource allocation
    }
    withName: 'MINIMAP2_ALIGN' {
    ext.args = '-ax lr:hq -y'  // use ONT high-quality preset and softclip quality option
    cpus = 8                 // allocate 24 threads to minimap2
  }

  withName: 'SVIM' {
    ext.prefix = { "${meta.id}_svim" }
        publishDir = [
            path: { "${params.outdir}/svim" },
            mode: 'copy',
            pattern: '*.vcf'
        ]
    }
    
    withName: 'TABIX_BGZIPTABIX_SVIM' {
        publishDir = [
            path: { "${params.outdir}/svim" },
            mode: 'move',
            pattern: '*.{gz,tbi}'
        ]
    }

    withName: 'CUTESV' {
        ext.prefix = { "${meta.id}_cutesv" }
        publishDir = [
            path: { "${params.outdir}/cutesv" },
            mode: 'copy',
            pattern: '*.vcf'
        ]
    }
    withName: 'SNIFFLES' {
        ext.prefix = { "${meta.id}_sniffles" }
        }

    withName: 'CLAIR3' {
    // Resource allocation
    cpus = 4
    // memory = 64.GB
    // time = 12.h
    // Clair3 specific arguments for bacterial fine-tuned model
    // ext.args = [
    //     '--platform="ont"',
    //     '--model_path="/opt/models/r1041_e82_400bps_sup_v430_bacteria_finetuned"'
    // ].join(' ')
    ext.args = '--threads 4'
    ext.prefix = { "${meta.id}_clair3" }
    // Publish directory for Clair3 output
    publishDir = [
        path: { "${params.outdir}/clair3" },
        mode: 'copy'
        // pattern: '*.{vcf,vcf.gz}'
    ]
    }

    withName: 'SURVIVOR_MERGE' {
        cpus = 2
        memory = 4.GB
        ext.args = '1000 2 1 1 1 30'  // distance callers type strands size_est min_size
        }

    withName: 'SURVIVOR_FILTER' {
    ext.prefix = { "${meta.id}_filtered" }
    publishDir = [
        path: { "${params.outdir}/survivor_filter" },
        mode: 'copy',
        pattern: '*.vcf'
    ]
}
    
    withName: 'TABIX_BGZIPTABIX_CUTESV' {
        publishDir = [
            path: { "${params.outdir}/cutesv" },
            mode: 'move',
            pattern: '*.{gz,tbi}'
        ]
    }

        withName: 'GUNZIP_SNIFFLES' {
        publishDir = [
            path: { "${params.outdir}/sniffles" },
            mode: 'move',
            pattern: '*.{vcf}'
        ]
    }
    
}



