/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/nanoraredx -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [       
        cpus: 1,
        memory: '2.GB'   
    ]
    
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    bam_file     = "/home/nmahfel/nf-training/test_data/sorted_bam/test.sorted.bam"              // path to your BAM file
    fasta_file   = "/home/nmahfel/nf-training/test_data/genome/genome_22.fasta"
    fai_file     = "/home/nmahfel/nf-training/test_data/genome/genome_22.fasta.fai"               // path to your reference FASTA
    fasta_mm_file = "/home/nmahfel/nf-training/test_data/genome/genome_hg38_chr1-22-XY.fa.mmi" // path to your reference FASTA with minimap2 inde
    tandem_file  = "/home/nmahfel/nf-training/test_data/tandem_file/tandem_repeats.bed"       // path to tandem repeats BED file
    bam_dir      = "/home/nmahfel/nf-training/test_data/bam_pass" // path to directory with BAM files
    bed_file     = null
    // SURVIVOR merge parameters
    max_distance_breakpoints = 1000        // Max distance between breakpoints (bp)
    min_supporting_callers = 2             // Minimum callers supporting an SV
    account_for_type = 1                   // Account for SV type (1=yes, 0=no)
    account_for_sv_strands = 1             // Account for SV strands (1=yes, 0=no)
    estimate_distanced_by_sv_size = 1      // Estimate distance by SV size (1=yes, 0=no)
    min_sv_size = 30  
    // Output options 
    vcf_output   = true                            
    snf_output   = true
    outdir                       = './results'
    
     

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'// Genome references
    // genome = 'R64-1-1'
}

